<!DOCTYPE html>
<html>
  <head>
    <link href="./static/index.css" rel="stylesheet" />
    <title>Image Conversion</title>
  </head>
  <body>
    <div class="container">
      <h1>Image Conversion</h1>
      <ul class="conversion-list">
        <li class="conversion-item">
          <a href="/jpgtopng">JPG to PNG converter</a>
        </li>
        <li class="conversion-item">
          <a href="/pngtojpg">PNG to JPG converter</a>
        </li>
        <li class="conversion-item">
          <a href="/webptopng">WEBP to PNG converter</a>
        </li>
        <li class="conversion-item">
          <a href="/bmptopng">BMP to PNG converter</a>
        </li>
        <li class="conversion-item">
          <a href="/pngtopdf">PNG to PDF converter</a>
        </li>
      </ul>
    </div>
  </body>
</html>
