<!DOCTYPE html>
<html>
  <head>
    <link href="./static/style.css" rel="stylesheet" />
    <title>Convert WEBP to PNG</title>
  </head>
  <body>
    <header>
      <h1>Convert WEBP to PNG</h1>
    </header>
    <nav>
      <a href="./">Home</a>
    </nav>
    <main>
      <form>
        <label for="file-input">Select WEBP image:</label>
        <input id="file-input" type="file" accept="image/webp" />
        <div id="errorMessage"></div>
        <button id="convert-button">Convert to PNG</button>
      </form>
      <!-- <h2>Welcome to my website</h2>
      <p>This is where I share my thoughts and ideas.</p> -->
    </main>
    <script type="text/javascript">
      //get button object
      const convertButton = document.getElementById("convert-button");
      // Add an event listener for when the button is clicked
      convertButton.addEventListener("click", async (e) => {
        e.preventDefault();
        //clear error
        clearError();
        //get file object
        const file = document.getElementById("file-input").files[0];
        // 5 MB
        const maxSize = 5 * 1024 * 1024;
        // Check if an image is selected
        if (!file) {
          showError("Please select an image.");
          return;
        }

        // Check file type
        if (file.type !== "image/webp") {
          showError("Please Select a WEBP file.");
          return;
        }

        // Check if the selected file is less than 5MB
        if (file.size > maxSize) {
          showError("Please select a file below 5MB.");
          return;
        }

        // Create a FormData object to send the image in the request body
        const formData = new FormData();
        formData.append("image", file);

        // Send a POST request to the /api/webptopng route
        try {
          const response = await fetch("/api/webptopng", {
            method: "POST",
            body: formData,
          });

          if (!response.ok) {
            throw new Error(response.statusText);
          }
          //conver to blob
          const blob = await response.blob();
          // Download the converted image
          const a = document.createElement("a");
          a.style.display = "none";
          a.href = URL.createObjectURL(blob);
          a.download = "converted-image.png";
          document.body.appendChild(a);
          a.click();
          a.remove();
        } catch (error) {
          showError(`An error occurred: ${error.message}`);
        }
      });

      /**
       * clear message
       */
      function clearError() {
        const errorMessage = document.getElementById("errorMessage");
        errorMessage.style.display = "none";
        errorMessage.innerHTML = "";
      }

      /**
       * show message
       * @param message
       */
      function showError(message) {
        const errorMessage = document.getElementById("errorMessage");
        errorMessage.style.display = "block";
        errorMessage.innerHTML = message;
      }
    </script>
  </body>
</html>
